header {background-color:lightcyan;
        background-attachment:scroll;    
}

nav{
    background-color: rgb(207, 244, 244);
}

form{
    background-color:transparent;
}

body {background:rgba(199, 228, 235, 0.893);
        background-image: url("./img/fondo-texturizado.jpg");
        
        
}
footer{background:lightcyan;}
a{
    text-decoration: none;
    text-shadow: 3px 3px 3px black;
}

h1 { 
    text-shadow: 3px 3px 3px lightcoral;
    color: black;
    text-align: center;
}
h1#formulario{
    text-align: left;
}

h2{
    text-shadow: 3px 3px 3px rgb(225, 119, 5);
    color: black;
    text-align: center;
}

p {
    color: black;
    text-align: center;
}

footer{
        background-color: lightcyan;
        
}
h1#medios{
    color: black;
}

h1#redes{
    color: black;
}

h3{
    text-align:center;

}

ul{

    text-align: center;
}

li{
    text-align: center;
}
