header {background-color:lightcyan;
        background-attachment:scroll;
        
}

nav{
    background-color: rgb(207, 244, 244);
    position: relative;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


form{
    background-color:transparent;
}

body {background:rgba(199, 228, 235, 0.893);
        background-image: url("./img/fondo.jpg");
        
        
}
footer{background:lightcyan;
}

a{
    text-decoration: none;
    text-shadow: 3px 3px 3px black;

}

a#preguntas{
    
    color: darkslategray ;
    text-shadow: none;

}

h1 { 
    text-shadow: 3px 3px 3px lightcoral;
    color: black;
    text-align: center;
}
h1#formulario{
    text-align: left;
}

fieldset#usuario{
        padding:1px 1px 1px 1px ;
        margin: 2px 2px 0px 0px;
        
        
        border-left: 0px;
        display:flex;
        flex-direction:row;
        position:relative;

}

h2{
    text-shadow: 3px 3px 3px rgb(225, 119, 5);
    color: black;
    text-align: center;
}

p {
    color: black;
    text-align: center;
}

footer{
        background-color: lightcyan;
        
}
h1#medios{
    color: black;
    text-align: center;
    
}

h3#tel{
    display: flex;
    justify-content: center;
    
}

h1#redes{
    color: black;
}

h3{
    text-align:center;

}

h3#preguntas{
    color:solid black 
}

ul{

    text-align: center;
}

li{
    text-align: center;
}

.container{
            
    padding: 5px;
    margin: 10px;
    border-width: 5px 5px 4px 5px;
    min-height:270px;
   max-height: 270px;
   
}

.container2 {

    padding: 5px;
    margin: 10px 10px 100px 10px;
    border-width: 5px 5px 4px 5px;
    min-height:50px;
   max-height: 50px;
}

.containerlogo {

    padding: 5px;
    margin: 10px 10px 10px 560px;
    border-width: 5px 5px 4px 5px;
    min-height:200px;
   max-height: 200px;
   min-width: auto;
   max-width: 300px;
}

.containerRedes {

    padding: 5px;
    margin: 10px 10px 10px 670px;
    border-width: 5px 5px 4px 5px;
    min-height:50px;
   max-height: 50px;
}

.containersuscripcion {

    padding: 5px;
    margin: 10px 10px 10px 640px;
    border-width: 5px 5px 4px 5px;
    min-height:50px;
   max-height: 50px;
}

.containerformulario{
    display: flex;
    justify-content:end
    
}

.containermercaderia{
    display: flex;
    justify-content: center;
}